@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@keyframes hide {
  from {opacity: 1;}
  to {opacity: 0.2;}
}


.notSelected {
  animation-name: hide;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}


@keyframes messageAnimation {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}


.popUpMessage {
  animation-name: messageAnimation;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}